/* Control Buttons Styles */
.controlButton {
    padding: 25px 25px;
    font-size: 40px;
    color: darkred;
    text-align: center;
    cursor: pointer;
    outline: none;
    background-color: black;
    border: none;
    border-radius: 100px;
    box-shadow: 0 15px darkred;
}

.controlButton:hover {
    background-color: seagreen;
    color: lightred;
}

.controlButton:active {
    background-color: lightgreen;
    box-shadow: 0 5px lightgreen;
    transform: translateY(4px);
    color: darkblue;
}

/* Start Button Styles */
button {
    padding: 10px 20px;
    font-size: 100px;
    background-color: red;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 15px #666; 
}

button:hover {
    background-color: lightgreen; 
}

button:active {
    background-color: limegreen;
    box-shadow: 0 5px limegreen; 
    transform: translateY(4px);
    color: darkblue;
}

/* Style for the volume slider */
.volumeSlider {
  margin-top: 20px;
}

.volumeSlider label {
  font-size: 20px;
  color: black;
}

.volumeSlider input[type="range"] {
  width: 200px; /* Set the width of the slider */
  -webkit-appearance: none; /* Remove default styles */
  appearance: none;
  height: 10px; /* Set the height of the slider */
  background: #d3d3d3; /* Background color of the slider track */
  outline: none;
  border-radius: 5px; /* Rounded corners */
  margin-top: 5px;
}

/* Styling for the slider thumb */
.volumeSlider input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Remove default styles */
  appearance: none;
  width: 20px; /* Set the width of the thumb */
  height: 20px; /* Set the height of the thumb */
  background: #4CAF50; /* Color of the thumb */
  cursor: pointer;
  border-radius: 50%; /* Make it a circle */
}

.volumeSlider input[type="range"]::-moz-range-thumb {
  width: 20px; /* Set the width of the thumb */
  height: 20px; /* Set the height of the thumb */
  background: #4CAF50; /* Color of the thumb */
  cursor: pointer;
  border-radius: 50%; /* Make it a circle */
}
